extends layout

block content
  .row.banner
    .col-12
      h1 Moby Dick
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p.book Moby Dick; Or, The Whale by Melville, Herman, 1819-1891
          .card.card-primary
            .card-block
              h2.card-title Subjects
              p.card-text Whaling
              p.card-text Sea stories
              p.card-text Psychological fiction
              p.card-text Ship captains
          .card.card-primary
            .card-block
              h2.card-title Subjects
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Whaling
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Sea stories
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Psychological fiction
              | &nbsp;
              span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;Ship captains
              | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
                img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/..............staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=<API Key>')
      .row
        .col-12 
         .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href=APPREFIX + '/review/add') Add review
            h2.card-title Reader reviews
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Baki Sevgul
                small.reviewTimestamp 5 April 2022
              .col-12
                p a great reading.
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor Bilge Sevgul
                small.reviewTimestamp 4 March 2022
              .col-12
                p It was okay. Strowy wasn't great.
    .col-12.col-lg-3
        p.lead
          | Moby dick is selected because it is famous novel is.
        p
          | If you've read it and you like it - or if you don't - please write a review.